<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Template title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/976af45385.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,600i,700,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><i id="brandLogo" class="far fa-futbol pr-1"></i> FantasyGen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link pl-4" href="/Players">Players</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link pl-4" href="/team">My Team</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
                <li class="nav-item active">
                    <a class="nav-link pl-4" href="/login">Login</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link pl-4" href="/register">Register</a>
                </li>

            <% } else { %>

                <% if(currentUser.admin === 1) { %>
                    <li class="nav-item active mr-5">
                        <a class="nav-link text-danger" href="/admin"><i class="fas fa-user-tie pr-1 "></i>Admin panel</a>
                    </li>
                <% } %>

                <li class="nav-item active">
                    <a class="nav-link pl-4" href="/profile"><i
                                class="far fa-user pr-1"></i> <%= currentUser.username %> </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link pl-4" href="/logout">Sign out</a>
                </li>
            <% } %>

        </ul>
    </div>
</nav>
<!-- <nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">FantasyGen</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="/players">Players Statistics</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if(!currentUser){ %>
							<li><a href="/login">Login</a></li>
							<li><a href="/register">Sign up</a></li>
						<% }  else { %>
							<li><a href="#">Signed in as: <%= currentUser.username %></a></li>
							<li><a href="/logout">Log Out</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav> -->
<div class="container">

    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %>

    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert"><%= success %></div>
    <% } %>
</div>
