body{
	background: url(https://a.espncdn.com/photo/2017/0808/0808_youngplayers2_2000x1000.jpg);
	background-size: cover;
	background-position: top;
	background-position: 0 -10%;
	background-repeat: repeat-y;

}

.landingRow{
	width: fit-content;
}

#landingJumbo{
	background-color: rgb(200,200,200,0.75);
	background-size: 60%;
	background-position: center;

	font-family: 'Arvo', serif;

}

.articlesContainer{
	background-color: rgb(200,200,200,0.55);
	border-radius: 10%;
}

#landingLeft, #landingRight{
	background-color: rgb(200,200,200, 0.6);
}


.card-img-top{
	max-width:100%;
	max-height:100%;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;

}

#articles{
	/*background-color: rgb(200,200,200,0.55);*/
	/*border-radius: 10%;*/
}

.card-title{
	font-size: 1.4rem;
	color: #007bff;
}

.card{
	background: #abbaab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #0F2027;
	border-radius: 3rem;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	opacity: 2;
	opacity: 2;
}

.card:hover{
	border: 2px solid #007bff;
}